{% extends "base.html" %}

{% block content %}

<h2>Students</h2>

<a href="{{ url_for('students.create_student') }}">Add Student</a>

<table border="1">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>
    </tr>

    {% for student in students %}

    <tr>

        <td>{{ student.id }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.email }}</td>

        <td>
            <a href="{{ url_for('students.delete', id=student.id) }}">
                Delete
            </a>
        </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}